<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bmi calculator</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }

        .form-input{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgb(101, 182, 236);
            height: 300px;
            width: 250px;
            border-radius: 5px;
            margin: auto;
        }

        .input-text{
            border-style: none;
            margin-top: 10px;
            height: 30px;
            border-radius: 3px;
            background-color: rgb(185, 219, 241);
        }
        
        .submit-button{
            border-style: none;
            padding: 16px 20px;
            margin-top: 20px;
            border-radius: 3px;
        }

        h1{
            text-align: center;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1>BMI calcultor</h1>
    <form action="/bmi-results" method="post" class="form-input">
    Enter weight:
    <input type="text" name="weight" class="input-text" /> <br>
    Enter height:
    <input type="text" name="height" class="input-text" />
    <input type="submit" value="Submit" class="submit-button">
    </form>
</body>
</html>
