<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>

        body{
            font-family: 'Roboto', sans-serif;
            margin: 0;
        }

        h1{
            text-align: center;
            margin-bottom: 30px;
            font-size: 2em;
        }

        .result-message{
            font-size: 1.5em;
        }

        .container{
            background-color: rgb(109, 200, 228);
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Results</h1>

    <div class="container">
        <p class="result-message" >{{message}}</p>
    </div>
</body>
</html>